*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
#main {
    display: flex;
    width: 100%;
    height: 100%;
  background-color: grey;
}
#left {
    position: relative;
    width: 45%;
    height: 100%;
    
}
#scroll {
    display: flex;
    justify-content: space-between;
  position: absolute;
  bottom: -5%;
  left: 12%;
  transform-origin: 0% 50%;
  transform: rotate(-90deg);

}
#scroll  #line{
    width: 170px;
    height: 2px;
    background-color: white;
align-self: center;
}
#scroll h2 {
    font-size: 15px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 270px;
    height: 370px;
   background-size: cover;
   background-position: center; 
   background-image: url(https://images.unsplash.com/photo-1637147396170-01b7737d51a0?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#nav {
    padding: 50px;
    display: flex;
    gap: 50px;
    color: #fff;
}
#nav h3 {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
#nav a{
    font-size: 9px;
margin-top: 3px;
color: white;
}
#central {
position: relative;
    display: flex;
    width: 45%;
    height: 100%;
    
    
}

#central #phto {
    position: absolute;
    
}
#central #ctext {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    z-index: 999;
}


#cimage{
    display: flex;
    position:absolute;
    bottom: 10%;
    left: 70%;
    width: 230px;
    height: 130px;
    background-color: red;
}

#cicon {

    width: 20%;
    height: 100%;
    background-color: #fff;
    
}




#cphto {
    width: 80%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1476836349418-180f91b52141?q=80&w=2252&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;
background-position: center;
}


#ctext h1{
    user-select: none;
    font-size: 60px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    z-index: 999;
    white-space: nowrap;

}
#ctext h3 {
    font-size: 35px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    z-index: 999;

}
#phto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1634157013320-80b6f133a9e8?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#right {
    position: relative;
    width: 10%;
    height: 100%;
  
}
#rtext {
   gap: 50px;
  display: flex;
  position: absolute;
  top: 30%;
  right: -80%;
   transform-origin: 0% ,50%;
   transform: rotate(-90deg); 
}
#rtext a {
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#ricon {
    color: #fff;
position: absolute;
 top: 5%;
 left: 45%;
}